<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>fr0g.gg</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <%- include('components/profile-info') %>
    <%- include('components/profile-rank') %>
  </div>
</body>
</html>
